body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    text-align: center;
}

.container {
    width: 360px;
    margin: auto;
    padding: 10px;
}

h2 {
    margin: 10px 0;
    background: #ddd;
    padding: 5px;
}

.datePicker {
    width: 90%;
    padding: 10px;
    font-size: 18px;
    margin: 10px auto;
    border-radius: 6px;
    border: 1px solid #000;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #000;
    background: white;
    cursor: pointer;
    font-size: 18px;
    color: black;
}

/* Khi được chọn */
button.active {
    background: #0984e3;
    color: white;
    border: 1px solid #0652dd;
}

.total div {
    background: #fff;
    padding: 10px;
    width: 30%;
    border-radius: 6px;
    font-size: 20px;
}

.grand-total {
    background: #ffeaa7;
    padding: 10px;
    font-size: 28px;
    border-radius: 8px;
}

.display {
    background: white;
    padding: 15px;
    margin: 10px;
    font-size: 28px;
    border: 2px solid #000;
    border-radius: 6px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.keypad button {
    background: black;
    color: white;
    font-size: 22px;
    padding: 15px;
}

#delete {
    background: #d63031 !important;
}

#enter {
    background: #00b894 !important;
}

table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #333;
    padding: 8px;
}

.clearAll {
    width: 100%;
    background: #e84118;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 18px;
}
